# -*- mode: gitignore; -*-

.emacs.*
*.elc
*.eld
*.bmk
*.newsrc*

# Org-mode
.org-id-locations
*_archive

# flymake Flycheck
*_flymake.*
flycheck_*.el

# [#].[#]
\#*#
.\#*
\!*
*~

.DS_Store
tramp
recentf
projectile.cache
ac-comphist.dat
notes
company-statistics-cache.el
smex-items

.mc-lists.el
emacs-custom.el

.cache/
eshell/
elpa/
auto-save-list/
image-dired/
url/
pyim/
emojis/

anaconda-mode/
