# -*- mode: gitignore; -*-

.emacs.*
*.elc
*.eld
*.bmk
*.newsrc*

# Org-mode
.org-id-locations
*_archive

# flymake Flycheck
*_flymake.*
flycheck_*.el

# [#].[#]
\#*#
.\#*
\!*
*~

notes
tramp
recentf
projectile.cache
smex-items
history
var/prescient-save.el

.mc-lists.el
emacs-custom.el

.cache/
elpa/
eshell/
auto-save-list/
image-dired/
url/
pyim/
emojis/

anaconda-mode/
