# -*- mode: gitignore; -*-

.emacs.*
*.elc
*.eld
*.bmk
*.newsrc*

.DS_Store
tramp
recentf
.projectile
ac-comphist.dat

.mc-lists.el
emacs-custom.el

# [#].[#]
\#*#
.\#*
\!*
*~

eshell/
elpa/
auto-save-list/
url/
.python-environments/
